<!DOCTYPE html>
<html>
<head>
  <title>NYT</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/css/style.css">
  <script
    src="https://code.jquery.com/jquery-2.2.4.js"
    integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
    crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="../js/nytScript.js"></script>
</head>
<body>
  <h1>
    New York Times
  </h1>
  <div id="newsitem">
    <p>Search the New York Times!</p>
    <input id="nytField" class="content" placeholder="search content" type="text">
    <button id="nytButton" class="search search-content" type='submit'>Search</button>
    <ul><!-- News Content--></ul>
  </div>
</body>
</html>
