<!DOCTYPE html>
<html>
<head>
  <title>Guardian</title>
  <% include ../partials/head %>
</head>
<body>
  <h1>
    Guardian
  </h1>
  <div class="newsitem">
    <ul><!-- News Content--></ul>
  </div>
</body>
</html>
